<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARKA</title>
        <link rel="stylesheet" type="text/css" href="/css/estilo.css">
        <link rel="icon" type="png" href="/images/minilogo.png">
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
        

    </head>
    
    <body> 
    <div class="container">
        <header>
            
            <a href="/">
                <img  id=logo src="/images/Logo.png" alt="Logo ARKA" width="100" height="100">
            </a>
                <ul id="Menu"> 
                    <li><a href="#">Menu</a>
                    <ul>
                        <li><a href="#">Pc</a></li> 
                        <li><a href="#">Xbox</a></li> 
                        <li><a href="#">Sony</a></li> 
                    </ul>
                    </li>
            <input id="barra" onkeyup="barra()" type="text" name="pesquisa" placeholder="Pesquisar">
       <a href="/login" id="loginHP">Login</a>
            </header>

            <main>
                <div class="missao">
                    <br><br>
                    <p>Nosso projeto tem como objetivo trazer noticias da atualidade sobre jogos e o mundo ao seu redor</p>
                    <br><br>
                </div>
                <div class="carrosel">

                </div>
                <div class="conteudo">
                    
                    <table id="myTable" class="table">
                        <tr> 

                        </tr>
                       </table>
                </div>

            </main>

    <aside></aside>
    <footer>
        <div class="base">
            <a href="/descricao">
               <p>Descrição da pagina</p> 
            </a>
        </div>
    </footer>
    </div>


    </body>
</html>