<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARKA</title>
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <link rel="icon" type="png" href="minilogo.png">
        <script src="noticias.json" ></script>
        <script src="tabela.js"></script>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        

    </head>
    
    <body> 
    <div class="container">
        <header>
            
            <a href="page.html">
                <img  id=logo src="Logo.png" alt="Logo ARKA" width="100" height="100">
            </a>
                <ul id="Menu"> 
                    <li><a href="#">Menu</a>
                    <ul>
                        <li><a href="#">Pc</a></li> 
                        <li><a href="#">Xbox</a></li> 
                        <li><a href="#">Sony</a></li> 
                    </ul>
                    </li>
            <input id="barra" onkeyup="barra()" type="text" name="pesquisa" placeholder="Pesquisar">
       <a href="login.html" id="loginHP">Login</a>
            </header>

            <main>
                <div class="missao">
                    <br><br>
                    <p>MISSAO AQUIIIIIIIII</p>
                    <br><br>
                </div>
                <div class="carrosel">

                </div>
                <div class="conteudo">
                    
                    <script src="tabela.js"></script>
                    <table id="myTable" class="table">
                        <tr> 

                        </tr>
                       </table>
                </div>

            </main>

    <aside></aside>
    <footer>
        <div class="base">
            asdawdada
        </div>
    </footer>
    </div>


    </body>
</html>